.skeleton-job-wrapper {
  width: 33%;
  padding: 1%;
  height: 80vh;
}

.skeleton-job-detail {
  position: relative;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 6%;
  border: 2px solid #f0f0f0;
  height: 100% !important;
  position: relative !important;
  border-radius: 20px !important;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: hidden;
  max-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  max-height: 78vh;
  transition: transform 0.3s;
}

.skeleton-job-detail:hover {
  transform: scale(1.01);
}

.skeleton-posted-date-applicants {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.skeleton-posted-date,
.skeleton-applicants {
  padding: 4px 6px;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
  height: 17px;
  width: 30%;
}

.skeleton-job-company-detail {
  display: flex;
  align-items: start;
  justify-content: start;
  height: max-content;
  gap: 10px;
}
.skeleton-job-company-detail-innder-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: max-content;
}

.skeleton-company-logo {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  overflow: hidden;
}

.skeleton-company-name {
  min-height: 20px;
  min-width: 35%;
  margin-bottom: 5px;
}

.skeleton-job-role {
  height: 14px;
  width: 50%;
}

.skeleton-job-location {
  margin-top: 5px;
  height: 11px;
  width: 30%;
}

.skeleton-job-salary {
  margin: 8px 0;
  height: 14px;
  width: 70%;
}

.skeleton-companydetai-jobdetail {
  line-clamp: 10;
  flex: 1;
  overflow: hidden;
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.skeleton-job-detail-h3 {
  margin: 0px;
  min-height: 20px;
  width: 50%;
}

.skeleton-job-detail-paragrahp {
  height: 14px;
}

.skeleton-bottom-overlay-content {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  padding-inline: 6%;
  padding-bottom: 3%;
  background-image: linear-gradient(
    to bottom,
    transparent,
    white,
    white,
    white
  );
}

.skeleton-apply-links {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 5px;
  width: 100%;
}

.skeleton-apply-links-button {
  /* removing default unset */
  text-decoration: unset;
  border: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: max-content;
  min-width: max-content;
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 100%;
  text-transform: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 5px 0;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 600;
}

.skeleton-view-job-button {
  width: 100%;
  border: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background-color: transparent;
  color: rgb(73, 67, 218);
  text-decoration: none;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 20px;
}

.skeleton-experience-required {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 15px;
}

.skeleton-experience-h4 {
  height: 13px;
  width: 50%;
  margin-bottom: 3px;
  margin-top: 10px;
}

.skeleton-experience-span {
  height: 15px;
  width: 35%;
}

.skeleton-ask-for-referral-button {
  background-color: #1a73e8 !important;
  color: #fff !important;
  font-weight: 400 !important;
}
.skeleton-ask-for-referral-button img {
  position: relative;
  width: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-inline: 2px;
  filter: blur(1px) !important;
}

.animate-skeleton {
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
