@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root {
  font-family: "Lexend", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

#role {
  min-width: 22% !important;
}
#techStack {
  min-width: 20% !important;
}

#minBasePay {
  min-width: 15% !important;
}

#experience {
  min-width: 18% !important;
}

#remoteOnSite {
  min-width: 15% !important;
}
