.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 
  display: none;
  opacity: 0;
  z-index: 1010;
  color: black;
}

.card-overlay-visible {
  transition: opacity 0.5s;
  display: flex;
  opacity: 1;
}

.card-overlay-content {
  width: 50%;
  height: 80vh;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.card-overlay-content h2 {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.card-overlay-content h3 {
  font-size: 18;
  line-height: 1.5;
  font-weight: 400;
}
.card-overlay-content p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  white-space: pre-wrap;
}
